# Filtre, descarte valores nulos, desduplique
Use os arquivos `data_08.csv` e `data_18.csv`

In [17]:
import pandas as pd
# carregue conjuntos de dados

df_08 = pd.read_csv('data_08.csv')
df_18 = pd.read_csv('data_18.csv')

In [18]:
# exiba as dimensões do conjunto de dados
df_08.shape

(2404, 14)

In [19]:
# exiba as dimensões do conjunto de dados
df_18.shape

(1611, 14)

## Filtre por região de certificação

In [20]:
# filtre conjuntos de dados por linhas segundo os padrões da Califórnia
df_08 = df_08.query('cert_region == "CA"')
df_18 = df_18.query('cert_region == "CA"')

In [21]:
# confirme que a única região de certificação é a Califórnia
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [22]:
# confirme que a única região de certificação é a Califórnia
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [23]:
# descarte a coluna de certificação de região de ambos conjuntos de dados
df_08.drop('cert_region', axis=1,inplace=True)
df_18.drop('cert_region', axis=1,inplace=True)

In [24]:
df_08.shape

(1084, 13)

In [25]:
df_18.shape

(798, 13)

## Descarte linhas com valores faltantes

In [35]:
# exiba a contagem de valores faltantes para cada característica em 2008
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [36]:
# exiba a contagem de valores faltantes para cada característica em 2018
df_18.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [48]:
# descarte linhas com quaisquer valores nulos em ambos conjuntos de dados
df_08.dropna(axis=0, inplace=True)
df_18.dropna(axis=0, inplace=True)

In [49]:
# verifique se quaisquer colunas em 2008 têm valores nulos - o resultado deve ser False
df_08.isnull().sum().any()

False

In [50]:
# verifique se quaisquer colunas em 2018 têm valores nulos - o resultado deve ser False
df_18.isnull().sum().any()

False

In [51]:
# exiba a contagem de valores faltantes para cada característica em 2008
df_08.isnull().sum()

model                   0
displ                   0
cyl                     0
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [52]:
# exiba a contagem de valores faltantes para cada característica em 2018
df_18.isnull().sum()

model                   0
displ                   0
cyl                     0
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

## Desduplique os dados

In [55]:
# exiba o número de duplicatas nos conjuntos de dados de 2008 e 2018
df_08.duplicated().sum()

23

In [56]:
df_18.duplicated().sum()

3

In [57]:
# descarte duplicatas em ambos conjuntos de dados
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

In [58]:
# exiba o número de duplicatas novamente para confirmar desduplicação - ambos devem ser 0
df_08.duplicated().sum()

0

In [59]:
df_18.duplicated().sum()

0

In [60]:
# salve seu progresso para a próxima seção
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)